@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes border-transform {
    from {
        border-top: 1px solid #000;
        border-top-width: 0;
    }
    to {
        border-top: 1px solid #000;
        border-top-width: 100%;
    }
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}